.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    
}



/* ==== CODE ALONG ==== */



/* ==== CODE SOLO ==== */

/* Apply FOUR CSS transforms in total to make the boxes visually distinct and interesting. You can use scale, translate, rotate, and skew or even combine them. */

#box1 {
    transform: scale(1.2);

}#box2 {
    transform: translateX(50px) translateY(20px);
}
#box3 {
    transform: rotate(15deg);
}       
#box4 {
    transform: skew(20deg, 10deg);
}



/* BONUS: Try combining the :hover selector with the transform property. Try to make the boxes spin when you hover over them. Use the transition: 0.3s ease; property and value to make it smoother. */
#box1:hover {
    transform: scale(1.5);
    transition: 0.3s ease;
}

#box2:hover {
    transform: translateX(50px) translateY(20px);
    transition: 0.3s ease;
}   

#box3:hover {
    transform: rotate(360deg);
    transition: 0.3s ease;
}

#box4:hover {
    transform: skew(40deg, 20deg);
    transition: 0.3s ease;
}






